{{> header}}
{{> navbar}}
    <div class="row">
        <div class="col-8">
            <h1>Hola</h1>

        </div>
        <div class="col-4">
            <img src="assets/img/streak-logo.png" alt="imagen" class="img-thumbnail">
        </div>
    </div>
{{> footer}}
